## IMDB Dataset

This IMDB Dataset is sourced from Kaggle

In [1]:
import pandas as pd
import os
os.chdir('D:\Cincinnati\Classes')

The Files provided are in .tsv format. In order to convert them to .csv and reading them in the python shell I have created a function in which I can input the name of the .tsv file and the name of the output .csv file I want

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [43]:
pd.options.display.max_columns = None  # To display all the columns when printing dataframe

In [3]:
# defining function for converting tsv to csv file and load it 
def file_gen(input_file,save_as):
    global df
    tsv_file= input_file
    csv_table=pd.read_table(tsv_file,sep='\t',low_memory=False)
    csv_table.to_csv(save_as,index=False)
    df = pd.read_csv(save_as,low_memory=True)
    return df

Next, I will load all the files using the function described

In [5]:
ratings_table = file_gen('title_ratings.tsv','title_ratings.csv') # ratings of movies

In [12]:
movie_titles = file_gen('title_akas.tsv','new_title_akas.csv') # Movie information

In [13]:
title_basics = file_gen('title_basics.tsv','new_title_basics.csv') # Details about movie titles

In [49]:
name_basics = file_gen('name_basics.tsv','new_name_basics.csv') ### Details about Actors

Once files are saved, I will fetch then again. This way I can test that the "file_gen" function is working as expected

In [4]:
title_principals = pd.read_csv('new_title_principals.csv',low_memory=True)

In [6]:
title_basics = pd.read_csv('new_title_basics.csv',low_memory=True)

In [5]:
movie_titles = pd.read_csv('new_title_akas.csv',low_memory=True)

In [32]:
ratings_table = pd.read_csv('title_ratings.csv', low_memory = True)

In [50]:
name_basics = pd.read_csv('new_name_basics.csv', low_memory = True)

### EDA

In [7]:
movie_titles.describe()

           ordering
count  1.932261e+07
mean   3.959409e+00
std    2.984434e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    6.000000e+00
max    1.380000e+02

In [8]:
movie_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19322610 entries, 0 to 19322609
Data columns (total 8 columns):
titleId            object
ordering           int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: int64(1), object(7)
memory usage: 1.2+ GB

In [9]:
movie_titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0
3,tt0000001,4,Carmencita,US,\N,\N,\N,0
4,tt0000001,5,Carmencita,\N,\N,original,\N,1

Checking for NULL and NA values

In [10]:
movie_titles.isnull().sum()

titleId             0
ordering            0
title               0
region             69
language            0
types               0
attributes          0
isOriginalTitle     0
dtype: int64

In [22]:
movie_titles.isna().sum()

titleId             0
ordering            0
title               0
region             69
language            0
types               0
attributes          0
isOriginalTitle     0
dtype: int64

In [23]:
title_basics.isnull().sum()

tconst             0
titleType          0
primaryTitle      10
originalTitle     10
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [24]:
title_basics.isna().sum()

tconst             0
titleType          0
primaryTitle      10
originalTitle     10
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

There are few missing/NULL values in the datasets

In [12]:
title_basics.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [13]:
title_basics.drop_duplicates(subset='tconst', keep='first', inplace=True)
title_basics.shape #6321302

(6321302, 9)

title_basics is unique at title id level

In [14]:
movie_titles.head(6)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0
3,tt0000001,4,Carmencita,US,\N,\N,\N,0
4,tt0000001,5,Carmencita,\N,\N,original,\N,1
5,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1

In [15]:
movie_titles.types.unique()

array(['imdbDisplay', '\\N', 'original', 'alternative', 'dvd', 'festival',
       'working', 'tv', 'video', 'tv\x02working', 'tv\x02video',
       'video\x02working', 'festival\x02working', 'dvd\x02video',
       'dvd\x02imdbDisplay', 'dvd\x02working'], dtype=object)

In [16]:
movie_titles.types.value_counts()

\N                  18228897
imdbDisplay           517865
original              405222
alternative            61466
working                43356
dvd                    20265
tv                     16263
video                  15841
festival               13412
tvvideo                   6
videoworking              5
tvworking                 4
dvdimdbDisplay            3
dvdvideo                  2
festivalworking           2
dvdworking                1
Name: types, dtype: int64

In [17]:
movie_titles.region.unique()

array(['HU', 'GR', 'RU', 'US', '\\N', 'FR', 'RO', 'GB', 'PT', 'ES', 'UY',
       'DE', 'IT', 'FI', 'RS', 'PL', 'AR', 'BR', 'XWW', 'TR', 'DK', 'XEU',
       'SK', 'CZ', 'SE', 'MX', 'XYU', 'AT', 'VE', 'CSHH', 'SI', 'JP',
       'AU', 'NL', 'NO', 'IR', 'UA', 'CA', 'CO', 'BG', 'BE', 'IN', 'DZ',
       'CH', 'NZ', 'BF', 'XWG', 'VN', 'SUHH', 'EE', 'IS', 'DDDE', 'HR',
       'XKO', 'CL', 'LT', 'EG', 'HK', 'BY', 'GE', 'BA', 'PE', 'PA', 'CN',
       'XSI', 'YUCS', 'IE', 'XSA', 'IL', 'CU', 'AL', 'BO', 'ZA', 'KR',
       'MY', 'SG', 'BUMM', 'XPI', 'BJ', 'PR', 'CM', 'AZ', 'TH', 'DO',
       'EC', 'LV', 'MA', 'GL', 'LI', 'LU', 'PH', 'ID', 'PY', 'MZ', 'BM',
       'TW', 'JM', 'MD', 'LB', 'IQ', 'TM', 'MK', 'CR', 'TN', 'NG', 'HT',
       'SN', 'GH', 'CI', 'JO', 'KG', 'PK', 'LK', 'GT', 'TJ', 'NE', 'GN',
       'VDVN', 'TD', 'SO', 'SD', 'MC', 'CG', 'TT', 'GA', 'BS', 'LY', 'SY',
       'AO', 'KH', 'SV', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY', 'ET', 'XAS',
       'UZ', 'SR', 'MT', 'AM', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'KP', 'KZ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'BD',
       'MN', 'AW', 'NP', 'MO', 'KW', 'CV', 'GP', 'SL', 'SM', 'CD', 'CSXX',
       'TO', 'BT', 'LS', 'HN', 'KE', 'PS', 'MQ', 'AD', 'SA', 'ZRCD', 'AE',
       'GU', 'ER', nan, 'IM', 'XKV', 'BH', 'BB', 'BZ', 'UG', 'AG', 'NU',
       'OM', 'QA', 'BW', 'MM', 'YE', 'GQ', 'ME', 'RE', 'KY', 'FO', 'MV',
       'FJ', 'NC', 'SZ', 'LC', 'MH', 'VI', 'VC', 'DM', 'AN', 'XNA', 'MW',
       'GF', 'GM', 'LR', 'EH', 'VU', 'SH', 'MS', 'TV', 'WS', 'BN', 'PF',
       'XAU', 'CK', 'VA', 'TL', 'KM', 'AQ', 'PW', 'NR', 'GD', 'KN', 'AS',
       'ST', 'SB', 'JE', 'MP', 'VG', 'KI', 'WF', 'AI'], dtype=object)

In [18]:
movie_titles.region.value_counts()

FR      2409348
DE      2370353
JP      2359060
ES      2358852
IT      2347175
IN      2312610
PT      2309630
US       876653
\N       461468
GB       188815
XWW      116549
CA        96647
BR        74041
GR        69837
FI        62220
HU        56356
AU        55610
RU        53773
PL        48197
SE        45793
XWG       44701
MX        44464
DK        44427
AR        41687
TR        30126
NL        27838
SUHH      25685
BE        22183
BG        20939
AT        20751
         ...
AQ            5
VU            5
TV            5
AS            4
SC            4
SB            4
GF            4
CK            4
GQ            4
VA            3
EH            3
GD            3
WF            2
KN            2
JE            2
ST            2
SH            2
ZRCD          2
WS            2
MS            2
XNA           2
KI            2
MP            1
AI            1
VG            1
NU            1
DJ            1
NR            1
XAU           1
PW            1
Name: region, Length: 245, dtype: int64

In [19]:
movie_titles = movie_titles[movie_titles.types == 'imdbDisplay'] #since ratings are only for imdb titles
movie_titles = movie_titles[movie_titles.region =='US'] 
movie_titles.size
#239312 Rows

239312

In [20]:
movie_titles.head(15)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
91,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0
259,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
355,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
358,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
390,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0
518,tt0000122,1,Closing Hours at Vibert's Perfume Factory,US,\N,imdbDisplay,\N,0
595,tt0000149,3,Behind the Scenes,US,\N,imdbDisplay,\N,0
775,tt0000230,10,Cinderella,US,\N,imdbDisplay,\N,0
967,tt0000308,3,The House That Jack Built,US,\N,imdbDisplay,\N,0
1027,tt0000349,1,"What Came Out of the Cheese; or, The Lilliputi...",US,\N,imdbDisplay,\N,0
1096,tt0000370,3,Scrooge; or Marley's Ghost,US,\N,imdbDisplay,\N,0
1230,tt0000417,32,A Trip to the Moon,US,\N,imdbDisplay,\N,0
1253,tt0000423,2,The Enchanted Box,US,\N,imdbDisplay,\N,0
1295,tt0000439,2,The Great Train Robbery,US,\N,imdbDisplay,\N,0
1317,tt0000443,3,Hiawatha,US,\N,imdbDisplay,\N,0

In [21]:
movie_titles = movie_titles.reset_index(drop=True)

In [22]:
movie_titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0
1,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
2,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
3,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
4,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0

In [23]:
movie_titles.language.unique()

array(['\\N', 'fr', 'en', 'es', 'hi', 'haw'], dtype=object)

In [24]:
movie_titles.groupby('language')['titleId'].nunique()

language
\N     29396
en       289
es        39
fr         1
haw        1
hi         1
Name: titleId, dtype: int64

In [25]:
movie_titles.groupby('attributes')['titleId'].nunique()

attributes
\N    29695
Name: titleId, dtype: int64

In [26]:
print(list(title_basics.columns.values))

['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

In [27]:
title_basics.groupby('endYear')['tconst'].nunique()

endYear
1924          1
1927          1
1932         11
1933          4
1935          1
1936          3
1937          1
1938          4
1939          7
1941          3
1942          3
1945          2
1946          4
1947         15
1948         17
1949         57
1950         58
1951         88
1952         89
1953         99
1954        101
1955        108
1956        119
1957        157
1958        200
1959        221
1960        221
1961        237
1962        205
1963        242
         ...
1999        898
2000        897
2001       1005
2002        997
2003       1090
2004       1221
2005       1185
2006       1187
2007       1191
2008       1333
2009       1464
2010       1459
2011       1574
2012       1794
2013       1939
2014       2034
2015       2436
2016       3060
2017       4024
2018       3470
2019       2390
2020        160
2021         10
2022          1
2024          1
2025          1
2026          1
2027          1
24            1
\N      6266940
Name: tconst, Length: 95, dtype: int64

In [28]:
title_basics.groupby('runtimeMinutes')['tconst'].nunique()

runtimeMinutes
0                              23
1                           11379
10                          45062
100                         14044
1000                            3
1005                            1
10062                           1
1008                            1
101                          3895
102                          4584
1020                            3
103                          3992
1035                            3
104                          4092
1040                            5
1044                            1
105                          7899
1050                            2
106                          3299
1068                            1
107                          3198
108                          3366
1080                            6
1084                            1
109                          2425
11                          34921
110                          8273
1100                            5
111                          2296
112                          2600
                           ...
900                             6
9000                            1
91                           7741
912                             2
914                             1
92                           8785
924                             1
93                           8712
931                             1
936                             1
94                           7161
940                             1
95                          12391
950                             1
954                             1
958                             1
959                             2
96                           7392
960                            18
961                             1
964                             1
97                           6405
98                           6463
99                           4626
990                             3
Animation,Comedy,Drama          1
Animation,Family                1
Reality-TV                      3
Talk-Show                       1
\N                        4455360
Name: tconst, Length: 817, dtype: int64

The variable runTimeminutes have some abnormal values such as "Animation,Comedy, Drama" , "Animation, Family" etc.

In [29]:
movie_titles.sort_values(by=['titleId','ordering'])
movie_titles.drop_duplicates(subset='titleId', keep='first', inplace=True)

In [30]:
movie_titles.shape
#Movie_titles.head(15)
#29695 movies

(29695, 8)

movie_titles data set have 29,695 observations or different movie titles

#### Merginng with Ratings table

In [33]:
### Ratings table
Rating_merge = pd.merge(movie_titles,
                       ratings_table[['tconst','averageRating','numVotes']],
                       left_on = 'titleId',
                       right_on = 'tconst',
                       how = 'inner')
Rating_merge.shape
#24528

(24528, 11)

In [34]:
Rating_merge.head(15)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,averageRating,numVotes
0,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435
1,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0,tt0000037,4.6,39
2,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0,tt0000071,3.7,14
3,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0,tt0000072,4.2,13
4,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0,tt0000081,4.1,14
5,tt0000122,1,Closing Hours at Vibert's Perfume Factory,US,\N,imdbDisplay,\N,0,tt0000122,5.5,13
6,tt0000149,3,Behind the Scenes,US,\N,imdbDisplay,\N,0,tt0000149,4.9,9
7,tt0000230,10,Cinderella,US,\N,imdbDisplay,\N,0,tt0000230,6.5,1222
8,tt0000308,3,The House That Jack Built,US,\N,imdbDisplay,\N,0,tt0000308,5.6,49
9,tt0000349,1,"What Came Out of the Cheese; or, The Lilliputi...",US,\N,imdbDisplay,\N,0,tt0000349,5.9,86
10,tt0000370,3,Scrooge; or Marley's Ghost,US,\N,imdbDisplay,\N,0,tt0000370,5.5,319
11,tt0000417,32,A Trip to the Moon,US,\N,imdbDisplay,\N,0,tt0000417,8.2,40082
12,tt0000423,2,The Enchanted Box,US,\N,imdbDisplay,\N,0,tt0000423,5.5,166
13,tt0000439,2,The Great Train Robbery,US,\N,imdbDisplay,\N,0,tt0000439,7.3,15661
14,tt0000479,2,Rum vs. Cherries,US,\N,imdbDisplay,\N,0,tt0000479,5.4,316

In [35]:
Rating_merge.drop_duplicates(subset='titleId', keep='first', inplace=True)
Rating_merge.shape

(24528, 11)

#### Merging with title basics table

In [36]:
#Merging with title basics 
Merge_table2 = pd.merge(Rating_merge,
                        title_basics,
                        left_on = 'titleId',
                        right_on = 'tconst',
                        how = 'left')
Merge_table2.shape

(24528, 20)

In [44]:
Merge_table2.head(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst_x,averageRating,numVotes,tconst_y,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,G1,G2,G3
0,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short
1,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0,tt0000037,4.6,39,tt0000037,short,Sea Bathing,Baignade en mer,0,1896,\N,1,Short,Short,None,None
2,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0,tt0000071,3.7,14,tt0000071,short,Automobiles Starting a Race,Départ des automobiles,0,1896,\N,\N,"Short,Sport",Short,Sport,None
3,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0,tt0000072,4.2,13,tt0000072,short,Officers of French Army Leaving Service,Départ des officiers,0,1896,\N,\N,Short,Short,None,None
4,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0,tt0000081,4.1,14,tt0000081,short,Towing a Boat on the River,Les haleurs de bateaux,0,1896,\N,\N,"Documentary,Short",Documentary,Short,None

##### Splitting the Generes

In [39]:
Merge_table2[['G1','G2','G3']]= Merge_table2.genres.str.split(",",expand=True)

drop tconst_x and tconst_y as the information is already in titleId

In [45]:
Merge_table2.drop(['tconst_x','tconst_y'],axis=1)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,G1,G2,G3
0,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,7.4,9435,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short
1,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0,4.6,39,short,Sea Bathing,Baignade en mer,0,1896,\N,1,Short,Short,None,None
2,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0,3.7,14,short,Automobiles Starting a Race,Départ des automobiles,0,1896,\N,\N,"Short,Sport",Short,Sport,None
3,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0,4.2,13,short,Officers of French Army Leaving Service,Départ des officiers,0,1896,\N,\N,Short,Short,None,None
4,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0,4.1,14,short,Towing a Boat on the River,Les haleurs de bateaux,0,1896,\N,\N,"Documentary,Short",Documentary,Short,None
5,tt0000122,1,Closing Hours at Vibert's Perfume Factory,US,\N,imdbDisplay,\N,0,5.5,13,short,Closing Hours at Vibert's Perfume Factory,Sortie des ateliers Vibert,0,1896,\N,\N,"Documentary,Short",Documentary,Short,None
6,tt0000149,3,Behind the Scenes,US,\N,imdbDisplay,\N,0,4.9,9,short,Behind the Scenes,Dans les coulisses,0,1897,\N,\N,"Comedy,Short",Comedy,Short,None
7,tt0000230,10,Cinderella,US,\N,imdbDisplay,\N,0,6.5,1222,short,Cinderella,Cendrillon,0,1899,\N,6,"Drama,Family,Fantasy",Drama,Family,Fantasy
8,tt0000308,3,The House That Jack Built,US,\N,imdbDisplay,\N,0,5.6,49,short,The House That Jack Built,The House That Jack Built,0,1900,\N,1,Short,Short,None,None
9,tt0000349,1,"What Came Out of the Cheese; or, The Lilliputi...",US,\N,imdbDisplay,\N,0,5.9,86,short,"What Came Out of the Cheese; or, The Lilliputi...","The Cheese Mites, or Lilliputians in a London ...",0,1901,\N,1,"Comedy,Short",Comedy,Short,None
10,tt0000370,3,Scrooge; or Marley's Ghost,US,\N,imdbDisplay,\N,0,5.5,319,short,Scrooge; or Marley's Ghost,Scrooge; or Marley's Ghost,0,1901,\N,6,"Drama,Fantasy,Short",Drama,Fantasy,Short
11,tt0000417,32,A Trip to the Moon,US,\N,imdbDisplay,\N,0,8.2,40082,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,"Action,Adventure,Comedy",Action,Adventure,Comedy
12,tt0000423,2,The Enchanted Box,US,\N,imdbDisplay,\N,0,5.5,166,short,The Enchanted Box,La boîte à malice,0,1903,\N,1,"Fantasy,Short",Fantasy,Short,None
13,tt0000439,2,The Great Train Robbery,US,\N,imdbDisplay,\N,0,7.3,15661,short,The Great Train Robbery,The Great Train Robbery,0,1903,\N,11,"Action,Crime,Short",Action,Crime,Short
14,tt0000479,2,Rum vs. Cherries,US,\N,imdbDisplay,\N,0,5.4,316,short,Rum vs. Cherries,Buy Your Own Cherries,0,1904,\N,4,"Drama,Short",Drama,Short,None
15,tt0000487,1,The Great Train Robbery,US,\N,imdbDisplay,\N,0,7.1,360,short,The Great Train Robbery,The Great Train Robbery,0,1903,\N,12,"Short,Western",Short,Western,None
16,tt0000535,2,The Anarchist's Mother-in-Law,US,\N,imdbDisplay,\N,0,4.9,37,short,The Anarchist's Mother-in-Law,Anarkistens svigermor,0,1906,\N,4,"Comedy,Short",Comedy,Short,None
17,tt0000583,2,The Lady with the Camellias,US,\N,imdbDisplay,\N,0,5.5,20,short,The Lady with the Camellias,Kameliadamen,0,1907,\N,\N,"Drama,Romance,Short",Drama,Romance,Short
18,tt0000597,1,Wonderful Mirrors,US,\N,imdbDisplay,\N,0,4.9,47,short,The Magic Mirror,Les glaces merveilleuses,0,1907,\N,7,Short,Short,None,None
19,tt0000598,3,"Hamlet, Prince of Denmark",US,\N,imdbDisplay,\N,0,5.5,22,short,"Hamlet, Prince of Denmark",Hamlet,0,1907,\N,\N,"Drama,Short",Drama,Short,None
20,tt0000602,5,Lion Hunting,US,\N,imdbDisplay,\N,0,4.8,146,short,Lion Hunting,Løvejagten,0,1907,\N,10,"Adventure,Drama,Short",Adventure,Drama,Short
21,tt0000722,2,The Red Barn Mystery,US,\N,imdbDisplay,\N,0,4.7,6,short,The Red Barn Mystery,Maria Marten,0,1908,\N,\N,"Drama,Short",Drama,Short,None
22,tt0000758,4,Sherlock Holmes,US,\N,imdbDisplay,\N,0,6.0,16,short,Sherlock Holmes,Sherlock Holmes i Livsfare,0,1908,\N,\N,"Mystery,Short",Mystery,Short,None
23,tt0000759,2,Sherlock Holmes II: Raffles Escaped from Prison,US,\N,imdbDisplay,\N,0,7.6,7,short,Sherlock Holmes II: Raffles Escaped from Prison,Sherlock Holmes II,0,1909,\N,\N,"Comedy,Short",Comedy,Short,None
24,tt0000769,4,Knight of Black Art,US,\N,imdbDisplay,\N,0,5.3,109,short,Knight of Black Art,Le tambourin fantastique,0,1908,\N,6,Short,Short,None,None
25,tt0000775,3,Susceptible Youth,US,\N,imdbDisplay,\N,0,7.5,6,short,Susceptible Youth,Trop crédules,0,1908,\N,\N,"Comedy,Short",Comedy,Short,None
26,tt0000790,4,The Battle in the Clouds,US,\N,imdbDisplay,\N,0,6.2,254,short,The Battle in the Clouds,The Airship Destroyer,0,1909,\N,11,"Fantasy,Sci-Fi,Short",Fantasy,Sci-Fi,Short
27,tt0000797,2,At the Altar,US,\N,imdbDisplay,\N,0,5.4,76,short,At the Altar,At the Altar,0,1909,\N,11,"Drama,Short",Drama,Short,None
28,tt0000817,2,A Message to Napoleon,US,\N,imdbDisplay,\N,0,3.2,9,short,A Message to Napoleon,Et budskab til Napoleon paa Elba,0,1909,\N,\N,"Drama,Short",Drama,Short,None
29,tt0000848,5,The Painting of a Miraculous Spider,US,\N,imdbDisplay,\N,0,6.0,13,short,The Painting of a Miraculous Spider,La toile d'araignée merveilleuse,0,1908,\N,\N,Short,Short,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24498,tt9858654,2,Brave Girl Rising,US,\N,imdbDisplay,\N,0,5.6,12,short,Brave Girl Rising,Brave Girl Rising,0,2019,\N,20,Short,Short,None,None
24499,tt9860728,8,Falling Inn Love,US,\N,imdbDisplay,\N,0,5.6,9811,movie,Falling Inn Love,Falling Inn Love,0,2019,\N,98,"Comedy,Romance",Comedy,Romance,None
24500,tt9861332,2,One Red Nose And A Wedding,US,\N,imdbDisplay,\N,0,6.8,347,tvShort,One Red Nose And A Wedding,One Red Nose Day and a Wedding,0,2019,\N,12,"Comedy,Short",Comedy,Short,None
24501,tt9861384,3,Freya Ridings: You Mean the World to Me,US,\N,imdbDisplay,\N,0,7.1,33,video,Freya Ridings: You Mean the World to Me,Freya Ridings: You Mean the World to Me,0,2019,\N,4,"Music,Short",Music,Short,None
24502,tt9861408,2,Mr. Malcolm's List,US,\N,imdbDisplay,\N,0,7.9,55,short,Mr. Malcolm's List,Mr. Malcolm's List,0,2019,\N,11,"Romance,Short",Romance,Short,None
24503,tt9861504,2,Nate Bargatze: The Tennessee Kid,US,\N,imdbDisplay,\N,0,7.5,761,tvSpecial,Nate Bargatze: The Tennessee Kid,Nate Bargatze: The Tennessee Kid,0,2019,\N,60,Comedy,Comedy,None,None
24504,tt9861536,2,Jonas Brothers: Sucker,US,\N,imdbDisplay,\N,0,7.0,231,video,Jonas Brothers: Sucker,Jonas Brothers: Sucker,0,2019,\N,3,"Comedy,Music,Short",Comedy,Music,Short
24505,tt9861934,1,Alien: Isolation,US,\N,imdbDisplay,\N,0,6.3,129,tvMiniSeries,Alien: Isolation,Alien: Isolation,0,2019,2019,\N,"Animation,Horror,Sci-Fi",Animation,Horror,Sci-Fi
24506,tt9863808,1,Adventure Time: Pirates of the Enchiridion,US,\N,imdbDisplay,\N,0,5.8,22,videoGame,Adventure Time: Pirates of the Enchiridion,Adventure Time: Pirates of the Enchiridion,0,2018,\N,\N,Adventure,Adventure,None,None
24507,tt9868356,3,Rosgulla,US,\N,imdbDisplay,\N,0,7.7,107,tvMiniSeries,Rosgulla,Rosgulla,0,2019,\N,57,Drama,Drama,None,None
24508,tt9869842,1,"Louis Vuitton, Our Journey Connected",US,\N,imdbDisplay,\N,0,5.4,35,short,"Louis Vuitton, Our Journey Connected","Louis Vuitton, Our Journey Connected",0,2019,\N,1,Short,Short,None,None
24509,tt9870402,1,Oprah Winfrey Presents: After Neverland,US,\N,imdbDisplay,\N,0,6.5,900,tvSpecial,Oprah Winfrey Presents: After Neverland,Oprah Winfrey Presents: After Neverland,0,2019,\N,59,Talk-Show,Talk-Show,None,None
24510,tt9875852,3,The House Elf,US,\N,imdbDisplay,\N,0,5.1,103,movie,The House Elf,Domovoy,0,2019,\N,90,"Comedy,Family,Fantasy",Comedy,Family,Fantasy
24511,tt9876160,3,Convoy 48,US,\N,imdbDisplay,\N,0,6.0,95,movie,Convoy 48,Koridor bessmertiya,0,2019,\N,125,"Drama,War",Drama,War,None
24512,tt9876314,1,The Perfectionists: Somebody is Watching,US,\N,imdbDisplay,\N,0,9.0,87,short,The Perfectionists: Somebody is Watching,The Perfectionists: Somebody is Watching,0,2019,\N,1,Short,Short,None,None
24513,tt9876408,1,Bottled with Love,US,\N,imdbDisplay,\N,0,7.4,906,tvMovie,Bottled with Love,Bottled with Love,0,2019,\N,85,"Drama,Romance",Drama,Romance,None
24514,tt9876418,1,Easter Under Wraps,US,\N,imdbDisplay,\N,0,6.7,483,tvMovie,Easter Under Wraps,Easter Under Wraps,0,2019,\N,\N,Romance,Romance,None,None
24515,tt9876426,1,Love Takes Flight,US,\N,imdbDisplay,\N,0,7.1,577,tvMovie,Love Takes Flight,Love Takes Flight,0,2019,\N,87,Romance,Romance,None,None
24516,tt9877340,3,Nalpathiyonnu,US,\N,imdbDisplay,\N,0,7.0,20,movie,Nalpathiyonnu,Nalpathiyonnu,0,2019,\N,134,"Drama,Romance",Drama,Romance,None
24517,tt9880234,3,Still Laugh-In: The Stars Celebrate,US,\N,imdbDisplay,\N,0,5.1,447,tvSpecial,Still Laugh-In: The Stars Celebrate,Still Laugh-In: The Stars Celebrate,0,2019,\N,60,Comedy,Comedy,None,None
24518,tt9882084,3,Chasing Happiness,US,\N,imdbDisplay,\N,0,7.9,1412,movie,Chasing Happiness,Chasing Happiness,0,2019,\N,96,Documentary,Documentary,None,None
24519,tt9893174,2,Secret Bridesmaids' Business,US,\N,imdbDisplay,\N,0,7.5,266,tvSeries,Secret Bridesmaids' Business,Secret Bridesmaids' Business,0,2019,\N,\N,"Drama,Romance,Thriller",Drama,Romance,Thriller
24520,tt9894070,1,"It's Me, Sugar",US,\N,imdbDisplay,\N,0,6.1,29,short,"It's Me, Sugar","It's Me, Sugar",0,2018,\N,24,"Comedy,Short",Comedy,Short,None
24521,tt9900782,5,Kaithi,US,\N,imdbDisplay,\N,0,8.9,3076,movie,Kaithi,Kaithi,0,2019,\N,145,"Action,Thriller",Action,Thriller,None
24522,tt9906644,2,Manoharam,US,\N,imdbDisplay,\N,0,7.6,56,movie,Manoharam,Manoharam,0,2019,\N,122,"Comedy,Drama",Comedy,Drama,None
24523,tt9908924,2,Marvel Studios' Captain Marvel LIVE Red Carpet...,US,\N,imdbDisplay,\N,0,7.1,8,tvSpecial,Marvel Studios' Captain Marvel LIVE Red Carpet...,Marvel Studios' Captain Marvel LIVE Red Carpet...,0,2019,\N,103,Reality-TV,Reality-TV,None,None
24524,tt9909228,2,Ximei,US,\N,imdbDisplay,\N,0,5.5,17,movie,Ximei,Ximei,0,2019,\N,98,Documentary,Documentary,None,None
24525,tt9909468,2,Captain Marvel: The Aftermath,US,\N,imdbDisplay,\N,0,6.0,21,video,Captain Marvel: The Aftermath,Captain Marvel: The Aftermath,0,2019,\N,18,"News,Short",News,Short,None
24526,tt9914350,1,"Conspiracy Chronicles: 9/11, Aliens and the Il...",US,\N,imdbDisplay,\N,0,3.4,12,video,"Conspiracy Chronicles: 9/11, Aliens and the Il...","Conspiracy Chronicles: 9/11, Aliens and the Il...",0,2018,\N,75,Documentary,Documentary,None,None
24527,tt9916720,11,The Nun 2,US,\N,imdbDisplay,\N,0,5.1,41,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery",Comedy,Horror,Mystery

#### Merging with title principals file

Title principals contains information of actors in a particular movie. Hence, it is expected that the number of rows/observations will increase after the merge

In [41]:
#Merging with title principals
Merge_table3 = pd.merge(Merge_table2,
                        title_principals,
                        left_on = 'titleId',
                        right_on = 'tconst',
                        how = 'left')
Merge_table3.shape

(222381, 29)

In [46]:
Merge_table3.head(5)

,titleId,ordering_x,title,region,language,types,attributes,isOriginalTitle,tconst_x,averageRating,numVotes,tconst_y,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,G1,G2,G3,tconst,ordering_y,nconst,category,job,characters
0,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,1.0,nm2880396,self,\N,"[""Herself""]"
1,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,2.0,nm9735580,self,\N,"[""Himself""]"
2,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,3.0,nm0525900,self,\N,"[""Herself""]"
3,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,4.0,nm9735581,self,\N,"[""Herself""]"
4,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,5.0,nm0525908,director,\N,\N

#### Merging with Name basics file

The name basics file contains the information on the actors in a movie and hence the merge will be on actor ID ( represented here by nconst).
Since the merge is on actor level the number of observations should remain same(when all actors are matched) or shoud4ld decrease (when some matches are not find) but will not increase

In [51]:
#Merging with name basics 
Merge_table4 = pd.merge(Merge_table3,
                        name_basics,
                        left_on = 'nconst',
                        right_on = 'nconst',
                        how = 'left')
Merge_table4.shape

(222381, 34)

In [52]:
Merge_table4.head(5)

,titleId,ordering_x,title,region,language,types,attributes,isOriginalTitle,tconst_x,averageRating,numVotes,tconst_y,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,G1,G2,G3,tconst,ordering_y,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,1.0,nm2880396,self,\N,"[""Herself""]",Madeleine Koehler,1895,1970,NaN,"tt1167665,tt0221930,tt8245694,tt0000012"
1,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,2.0,nm9735580,self,\N,"[""Himself""]",Marcel Koehler,\N,\N,NaN,"tt0000012,tt8245694"
2,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,3.0,nm0525900,self,\N,"[""Herself""]",Mrs. Auguste Lumiere,1874,1963,NaN,"tt0151416,tt0000029"
3,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,4.0,nm9735581,self,\N,"[""Herself""]",Jeanne-Joséphine Lumière,\N,\N,NaN,\N
4,tt0000012,3,The Arrival of a Train,US,\N,imdbDisplay,\N,0,tt0000012,7.4,9435,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short",Action,Documentary,Short,tt0000012,5.0,nm0525908,director,\N,\N,Auguste Lumière,1862,1954,"producer,director,actor","tt0178809,tt8485720,tt0000012,tt8488118"

In [54]:
Merge_table4.groupby('characters')['nconst'].nunique()

characters
["#1 Guy"]                                                                                  1
["$3500 Man","Dancing youth","Gendarme"]                                                    1
["'Bad' Frank Phillips"]                                                                    1
["'Big Nick' O'Brien"]                                                                      1
["'Big' Al Dente"]                                                                          1
["'Blind' Man","Deadbeat Diner"]                                                            1
["'Blue Streak' Billings"]                                                                  1
["'Buffalo' Bill Joe Hickens","Buffalo Bill"]                                               1
["'C'"]                                                                                     1
["'Champion' adulte"]                                                                       1
["'Chicken' George Moore","Chicken George Moore"]                                           1
["'Clary' Webb"]                                                                            1
["'Classy' Freddie Blassie"]                                                                1
["'Colonel' Harrington"]                                                                    1
["'Countess' Martine"]                                                                      1
["'Deaf' Smith"]                                                                            1
["'Devil' Anse Hatfield"]                                                                   1
["'Dirty' Ho Jen"]                                                                          1
["'Dr. T' Doctor Tokioka, Butler Tokioka","'Dr. T' Doctor Tokioka","Butler Tokioka"]        1
["'ECHO ONE'","Jack"]                                                                       1
["'Evelyn'","Evelyn Pittman"]                                                               1
["'Fail-safe' Kung Wu"]                                                                     1
["'Fanny' Barton"]                                                                          1
["'Fitz' Fitzgerald"]                                                                       1
["'Flash' Gordon"]                                                                          1
["'Flip' Moran"]                                                                            1
["'Goody' Nelson"]                                                                          1
["'Grave Squad' Lawyer"]                                                                    1
["'Hacksaw' Jim Duggan"]                                                                    1
["'He'"]                                                                                    1
                                                                                        ...
["Éva, Bozsó lánya"]                                                                        1
["Ícaro Batista dos Santos"]                                                                1
["Îzuka"]                                                                                   1
["Óttar"]                                                                                   1
["Ôba"]                                                                                     1
["Ôishi"]                                                                                   1
["Ôkaminosuke"]                                                                             1
["Ôtake"]                                                                                   1
["Ôwashi no Ken (Ken Washio)"]                                                              1
["Ôwashi no Ken"]                                                                           2
["Ôyama"]                                                                                   1
["Ôyane"]                                                                                   1
["Ömer"]                                                                                    1
["Ömerçip"]                                                                                 1
["Önni"]                                                                                    1
["Ördög Sára"]                                                                              1
["Öykü"]                                                                                    1
["Özlem Balaban"]                                                                           1
["Özlem"]                                                                                   1
["Úa"]                                                                                      1
["Úrsula"]                                                                                  1
["Þorvaldur"]                                                                               1
["Þór Magnússon"]                                                                           1
["Þór"]                                                                                     1
["Þórdís Katla"]                                                                            1
["Þórgunnur"]                                                                               1
["Þórhildur","Þórhildur yngri"]                                                             1
["Þórkatla"]                                                                                1
["öregasszony"]                                                                             1
\N                                                                                      65562
Name: nconst, Length: 67695, dtype: int64

In [55]:
Merge_table4.groupby('category')['nconst'].nunique()

category
actor                  32227
actress                21175
archive_footage          852
archive_sound            127
cinematographer         5966
composer                6791
director               12616
editor                  4909
producer               13602
production_designer     1547
self                    9191
writer                 18383
Name: nconst, dtype: int64

In [56]:
Merge_table4.groupby('primaryProfession')['nconst'].nunique()

primaryProfession
actor                                             14963
actor,animation_department                           11
actor,animation_department,art_department             5
actor,animation_department,camera_department          1
actor,animation_department,casting_department         1
actor,animation_department,casting_director           1
actor,animation_department,director                   3
actor,animation_department,editor                     2
actor,animation_department,location_management        1
actor,animation_department,make_up_department         1
actor,animation_department,miscellaneous              7
actor,animation_department,music_department           1
actor,animation_department,producer                   2
actor,animation_department,sound_department           1
actor,animation_department,soundtrack                 3
actor,animation_department,writer                     3
actor,art_department                                 53
actor,art_department,animation_department             2
actor,art_department,art_director                     3
actor,art_department,assistant_director               1
actor,art_department,camera_department                7
actor,art_department,casting_department               1
actor,art_department,costume_department               3
actor,art_department,costume_designer                 1
actor,art_department,director                         9
actor,art_department,editor                           2
actor,art_department,location_management              2
actor,art_department,make_up_department               2
actor,art_department,miscellaneous                   11
actor,art_department,music_department                 3
                                                  ...
writer,soundtrack,composer                            5
writer,soundtrack,director                           16
writer,soundtrack,miscellaneous                      25
writer,soundtrack,music_department                   26
writer,soundtrack,producer                           11
writer,soundtrack,production_designer                 1
writer,soundtrack,script_department                   3
writer,special_effects                                1
writer,special_effects,art_director                   1
writer,special_effects,make_up_department             1
writer,special_effects,producer                       1
writer,special_effects,sound_department               1
writer,stunts                                         2
writer,stunts,actor                                   2
writer,stunts,director                                1
writer,talent_agent                                   1
writer,transportation_department                      1
writer,transportation_department,director             1
writer,visual_effects                                 7
writer,visual_effects,actor                           1
writer,visual_effects,animation_department            4
writer,visual_effects,art_department                  2
writer,visual_effects,assistant_director              1
writer,visual_effects,camera_department               1
writer,visual_effects,director                        4
writer,visual_effects,editor                          1
writer,visual_effects,miscellaneous                   2
writer,visual_effects,producer                        3
writer,visual_effects,sound_department                1
writer,visual_effects,special_effects                 1
Name: nconst, Length: 4602, dtype: int64

In [57]:
Merge_table4.groupby('averageRating')['tconst'].nunique()

averageRating
1.0       1
1.1       4
1.2       5
1.3       6
1.4       7
1.5       7
1.6       2
1.7       6
1.8      12
1.9      13
2.0      18
2.1      16
2.2      20
2.3      13
2.4      28
2.5      22
2.6      24
2.7      37
2.8      27
2.9      34
3.0      34
3.1      50
3.2      45
3.3      49
3.4      59
3.5      57
3.6      71
3.7      67
3.8      79
3.9      78
       ...
7.1     861
7.2     805
7.3     829
7.4     757
7.5     759
7.6     759
7.7     674
7.8     659
7.9     590
8.0     625
8.1     577
8.2     515
8.3     470
8.4     377
8.5     332
8.6     264
8.7     222
8.8     202
8.9     136
9.0     116
9.1      87
9.2      87
9.3      55
9.4      40
9.5      21
9.6      26
9.7      19
9.8      17
9.9       3
10.0     13
Name: tconst, Length: 91, dtype: int64